<div class="row portfolio-flex-row">
  <!-- Static Portfolio Item 1 -->
  <div class="portfolio-flex-item portfolio-item">
    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
      <div class="caption">
        <div class="caption-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="/assets/stockimg.webp" class="img-responsive" alt="Project 1 Description">
    </a>
  </div>

  <!-- Static Portfolio Item 2 -->
  <div class="portfolio-flex-item portfolio-item">
    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
      <div class="caption">
        <div class="caption-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="/assets/stockimg.webp" class="img-responsive" alt="Project 2 Description">
    </a>
  </div>

  <!-- Static Portfolio Item 3 -->
  <div class="portfolio-flex-item portfolio-item">
    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
      <div class="caption">
        <div class="caption-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="/assets/stockimg.webp" class="img-responsive" alt="Project 3 Description">
    </a>
  </div>
