<div class="container portfolio-flex-grid">
  <div class="row">
    <!-- Portfolio Item 1 -->
    <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item">
      <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img src="/assets/stockimg.webp" class="img-responsive" alt="Project 1">
      </a>
    </div>

    <!-- Portfolio Item 2 -->
    <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item">
      <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img src="/assets/stockimg.webp" class="img-responsive" alt="Project 2">
      </a>
    </div>

    <!-- Portfolio Item 3 -->
    <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item">
      <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img src="/assets/stockimg.webp" class="img-responsive" alt="Project 3">
      </a>
    </div>
  </div>

  <!-- Second Row -->
  <div class="row">
    <!-- Portfolio Item 4 -->
    <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item">
      <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img src="/assets/stockimg.webp" class="img-responsive" alt="Project 4">
      </a>
    </div>

    <!-- Portfolio Item 5 -->
    <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item">
      <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img src="/assets/stockimg.webp" class="img-responsive" alt="Project 5">
      </a>
    </div>

    <!-- Portfolio Item 6 -->
    <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item">
      <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img src="/assets/stockimg.webp" class="img-responsive" alt="Project 6">
      </a>
    </div>
  </div>
</div>
