<div class="container portfolio-flex-grid">
  <div class="row">
    <!-- Portfolio Item 1 -->
    <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item">
      <a href="research.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            Research
          </div>
        </div>
        <img src="/assets/stockimg.webp" class="img-responsive small-img" alt="Research">
      </a>
    </div>

    <!-- Portfolio Item 2 -->
    <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item">
      <a href="projects.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            Projects
          </div>
        </div>
        <img src="/assets/stockimg.webp" class="img-responsive small-img" alt="Projects">
      </a>
    </div>

    <!-- Portfolio Item 3 -->
    <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item">
      <a href="teaching.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            Teaching
          </div>
        </div>
        <img src="/assets/stockimg.webp" class="img-responsive small-img" alt="Teaching">
      </a>
    </div>

    <!-- Portfolio Item 4 -->
    <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item">
      <a href="blog.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            Blog
          </div>
        </div>
        <img src="/assets/stockimg.webp" class="img-responsive small-img" alt="Blog">
      </a>
    </div>

    <!-- Portfolio Item 5 -->
    <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item">
      <a href="maps.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            Maps
          </div>
        </div>
        <img src="/assets/stockimg.webp" class="img-responsive small-img" alt="Maps">
      </a>
    </div>

    <!-- Portfolio Item 6 -->
    <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item">
      <a href="other.html" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            Other
          </div>
        </div>
        <img src="/assets/stockimg.webp" class="img-responsive small-img" alt="Other">
      </a>
    </div>
  </div>
</div>
